/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
/* CSS Global básico */
* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #2563eb;
}

input, select, textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #2a2a2a;
  color: white;
  font-family: inherit;
}

